<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        <ul>
            <%users.forEach(item => {%>
                <li><%= item%></li>
            <%})%>
        </ul>

        <%if(users.length > 1){%>
            <strong>length > 1</strong>
        <%}else{%>
            <strong>length <= 1</strong>
        <%}%>
    </h1>
</body>
</html>