<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Danh Sách Bài Viết của User 
        <%if(userID){%>
            <%=userID%>
        <%}%>
    </h1>
    <ul>
        <%if(listPosts.length > 0){%>
            <%listPosts.forEach(post => {%>
                <li>
                    <strong><%= post.title%></strong> <br>
                    <%= post.body%> <br>
                </li>
            <%})%>
        <%}else{%>
            <strong>KhôNG cÓ BÀI VIẾT</strong>
        <%}%>
    </ul>
</body>
</html>